@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

.generalElementsMyRentals{
    border-radius: 10px;
    border-width:0.5px;
    background-color: rgba(0, 0, 0, 0.5);
}
.elementsMyRentals{
    border:  solid white; 
    border-radius: 10px;  
    background-color: aliceblue;
    padding: 5px;
    text-align: center; 
    margin: 20px;
}
.imageMyRental{
    border-radius: 10px;
    width: 250px;
    height:150px;
}
.buttonsMyRental{
    display:flex;
    justify-content: space-around;
    padding-bottom: 15px;
}

.titleMyRental{
    font-size: 20px;
}

.updateMyRental{
    border-radius: 10px;
    border:5px;
    padding: 15px;
    margin-top: 10px;
}
.deleteMyRental{
    border-radius: 10px;
    border:5px;
    padding: 15px;
    margin-top: 10px; 
}





