.home {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.addButton {
  margin-top: 3rem;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border: solid 0.5px gray;
  border-radius: 25px;
  padding: 0.7rem 2rem;
  background-color: white;
}

.addButton:hover {
  background-color: rgb(215, 215, 215);
}

.addLink {
  text-decoration: none;
  color: black;
}

.appartmentsContainer {
  margin-top: 2rem;
  width: 100%;
  height: 65%;
  background-color: rgba(255, 255, 255, 0.815);
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper {
  margin-left: 7rem;
}
